# 데이터 및 결과물 제외
data/
outputs/
notebooks/
mp4
*.jpg
*.png
*.csv
*.MOV
*.mov
*.webm
*.txt
*.mp4
# 파이썬 가상환경 및 캐시
__pycache__/
.venv/
src/venv/
src/.venv/
**/__pycache__/
*.pyc

# 운영체제 임시 파일
.DS_Store
Thumbs.db

# ROS/빌드 관련 (필요시)
build/
install/
log/

src/runs/
src/images/

data/
outputs/
src/runs/

**/*.jpg
**/*.png
**/*.pt